@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: 'Sporting Grotesque';
  src: url('/fonts/SportingGrotesque/SportingGrotesque-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sporting Grotesque';
  src: url('/fonts/SportingGrotesque/SportingGrotesque-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.font-grotesque {
  font-family: 'Sporting Grotesque', sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/images/bg-hero.PNG');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top;
}